.middelbody {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  max-height: 30rem;

  &__left {
    flex: 1;
    &-header {
      display: flex;
      margin-top: 1.5rem;
      justify-content: space-between;
    }
    &-user {
      display: flex;
      &-title {
        margin-left: 1.5rem;
      }
    }

    &-list {
      list-style: none;
      color: $color-blue;
    }
    &-icon {
      margin-right: 1rem;
    }
  }

  &__right {
    flex: 1;

    &-content {
      overflow-y: scroll;
    }
  }
}
